<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Product App</title>
  </head>

  <body>
    
    <div class="nav-bar"></div>

    <div id="app">
      <div class="cart">
        <p>Cart ({{ cart }})</p>
      </div>

      <product :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeFromCart"></product>
    </div>

    <div>
      

    </div>


    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>